<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/AdministrationTable.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Administration.css') }}">

    <title>Бронирования</title>
</head>

<body>
<div style="text-align: center;">
    <block1>
        <form method="POST">
            <div class="titleBlock">
                <h1 class="cardTitle">БРОНИРОВАНИЯ</h1>
            </div>
            <br>
            <div class="container">
                <table>
                    <tr>
                        <th class="columnName" rowspan="2">Дата</th>
                        <th class="columnName" colspan="2">Время</th>
                        <th class="columnName" rowspan="2">ФИО</th>
                        <th class="columnName" rowspan="2">Кол-во чел.</th>
                        <th class="columnName" rowspan="2">Номер стола</th>
                    </tr>
                    <tr>
                        <td class="columnName">Начало</td>
                        <td class="columnName">Конец</td>
                    </tr>
                    {% for row in range(allBooking|length) %}
                        <tr>
                            {% for col in range(allBooking[row]|length) %}
                                <td>{{ allBooking[row][col] }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </form>
        <a class="backHomeBooking"> Редактировать </a>
    </block1>
</div>
</body>
</html>