<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/AdministrationTable.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Administration.css') }}">

    <title>Бронирования</title>
</head>

<body>
<div style="text-align: center;">
    <block1>
        <form method="POST">
            <div class="titleBlock">
                <h1 class="cardTitle">БРОНИРОВАНИЯ</h1>
            </div>
            <br>
            <div class="container">
                <table>
                    <tr>
                        <th>Дата</th>
                        <th>Время</th>
                        <th>ФИО</th>
                        <th>Кол-во чел.</th>
                        <th>Номер стола</th>
                    </tr>
                    {% for row in range(allBooking|length) %}
                        <tr>
                            {% for col in range(allBooking[row]|length) %}
                                <td>{{ allBooking[row][col] }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </form>
        <a class="backHomeBooking" href="{{url_for('selectDate')}}"> Домой </a>
    </block1>
</div>
</body>
</html>