<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Authorization.css') }}">
    <title>Вход</title>
</head>
<body>

<div style="text-align: center;">
    <block1>
        <bl1>
            <div class="container">
                <div class="wrapper">
                    <a class="backHome" href="{{url_for('selectDate')}}">Домой</a>
                    <form class="formBlock" method="POST">
                        <div class="titleBlock">
                            <h1 class="cardTitle">Вход</h1>
                        </div>
                        <div class="inputsBlock">
                            <label class="labelText">
                                Логин
                                <input type="text" class="formInput" name="login" placeholder="Логин" required/>
                            </label>
                            <label class="labelText">
                                Пароль
                                <input type="password" class="formInput" name="password" placeholder="Пароль" required>
                            </label>
                        </div>
                        <input type="submit" class="submitButton" name="authorization" value="Войти"/>
                    </form>
                </div>
            </div>
        </bl1>
    </block1>
</div>

</body>
</html>