<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/bookingFormStyles.css') }}">
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <title>Карточка бронирования</title>
</head>
<style>
</style>
<body>


<div style="text-align: center;">
    <block1>
        <bl7>
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            <div class="container">
                <div class="wrapper">
                    <a href="{{url_for('select_date')}}" class="backHome">Домой</a>
                    <form class="formBlock" method="post">
                        <div class="titleBlock">
                            <h1 class="cardTitle">Карточка бронирования</h1>
                        </div>
                        <div class="contentBlock">
                            <div class="inputsBlock">
                                <label class="labelText">
                                    Ваше ФИО
                                    <input type="text" class="formInput" name="fio" placeholder="Фамилия И. О."
                                           maxlength="20"
                                           required/>
                                </label>
                                <label class="labelText">
                                    Ваш номер телефона
                                    <input type="text" class="formInput phone" name="phoneNumber"
                                           placeholder="Номер телефона" maxlength="12" required>
                                </label>
                                <script>
                                    $(".phone").mask("+7(999)999-9999");
                                </script>
                            </div>
                            <div class="labelsBlockLayout">
                                <div class="checkTable">
                                    <label class="labelText">
                                        Этаж столика
                                    </label>
                                    <div class="radioButtons">
                                        <label for="first_floor"> Этаж 1 </label>
                                        <input type="radio" id="first_floor" name="floor" value="1" checked>
                                    </div>
                                    <div class="radioButtons">
                                        <label for="second_floor"> Этаж 2 </label>
                                        <input type="radio" id="second_floor" name="floor" value="2">
                                    </div>
                                </div>

                                <div class="checkTable">
                                    <label class="labelText">
                                        Расположение столика
                                    </label>
                                    <div class="radioButtons">
                                        <label for="window_yes"> У окна </label>
                                        <input type="radio" id="window_yes" name="window" value="yes" checked>
                                    </div>
                                    <div class="radioButtons">
                                        <label for="window_no"> Не у окна </label>
                                        <input type="radio" id="window_no" name="window" value="no">
                                    </div>
                                </div>
                            </div>
                            <div class="btnBlock">
                                <label class="labelText">
                                    Время бронирования
                                    <select class="selectComponent" name="bookingTime">
                                        {% for i in range(len(allTime)) %}
                                            {% if i == 0 %}
                                                <option value={{allTime[i]}} selected>{{ allTime[i] }}</option>
                                            {% else %}
                                                <option value={{allTime[i]}}>{{ allTime[i] }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </label>
                                <label class="labelText">
                                    Количество мест за столиком
                                    <select class="selectComponent" name="countPlaces">
                                        {% for i in range(len(countPlaces)) %}
                                            {% if i == 0 %}
                                                <option value={{countPlaces[i][0]}} selected>{{ countPlaces[i][0] }}</option>
                                            {% else %}
                                                <option value={{countPlaces[i][0]}}>{{ countPlaces[i][0] }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                            <input type="submit" name="createBooking" class="submitButton" value="Забронировать"/>
                        </div>
                    </form>
                </div>
            </div>
        </bl7>
    </block1>
</div>
</body>
</html>